/**
 * Paragraphs
 **/

// Margin
// value: false | modular scale ratio
$paragraph-margin-top:      false;
$paragraph-margin-right:    false;
$paragraph-margin-bottom:   $global-padding;
$paragraph-margin-left:     false;

// Padding
// value: false | modular scale ratio
$paragraph-padding-top:     false;
$paragraph-padding-bottom:  false;
$paragraph-padding-right:   false;
$paragraph-padding-left:    false;