/**
 * Pagination
 *
 **/

$pagination-as-buttons:       true;
$pagination-font-size:        1; // modular scale
$pagination-text-decoration:  none;
$pagination-text-link-color:  $global-link-color;
$pagination-text-focus-color: $global-link-focus;