---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: ''
sections:
- type: directory
  path: content
  label: Content
  create: all
  match: "**/*"
  exclude: "{**/posts/**/*,**/authors/**/*}"
- type: directory
  path: content/posts
  label: Posts
  create: documents
  match: "**/*"
  templates:
  - b-template-post
- type: heading
  label: Config Options
- type: document
  path: data/categories.yaml
  label: Categories
- type: document
  path: data/organization.yaml
  label: Organization
- type: document
  path: config.yaml
  label: Configuration
upload_dir: static/uploads
public_path: ''
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
  - HUGO_ENV=staging
  - HUGO_VERSION=0.57.2
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --port 8080 --bind 0.0.0.0 --renderToDisk
    -e preview -d public
version: 0.57.2
