/**
 * Branding
 **/

$branding-font-size          : 2; // modular scale
$branding-font-weight:        bold;
$branding-color              : $white; // text and svg fill if svg fills with currentColor
$branding-color-dark         : $white;// text and svg fill if svg fills with currentColor

$header-brand-position       : relative;
$header-brand-width          : 10;
$header-brand-z              : 100;
$header-brand-image-width    : 100%;
$header-brand-image-max-width: 100%;

