// * Search Form
// TODO comments & check font size vars

$header-search-font-size                   : 0; //modularscale raito
$header-search-field-margin                : 0 0 0 0.5rem;
$header-search-field-padding               : 0.25rem 0.5rem;
$header-search-button-margin               : 0 0 0 0.5rem;
// ? is this being used? or is it $header-search-font-size?
$header-search-font: -2; // modular scale ratio

